.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-input {
  font-size: x-large;
  text-align: center;
  background-color: inherit;
  color: var(--light);
  border: none;
}

.auth-input::placeholder {
  opacity: 1;
  color: var(--light);
}