.nav-container {
  background-color: var(--light);

  padding: 1rem 2rem;

  height: 2rem;

  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-size: x-large;
  color: var(--dark);
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;
}

.nav-el {
  margin: 0 2rem;
}

.nav-button {
  background-color: inherit;
  border: none;
  color: var(--dark);
}

.nav-button:hover {
  text-decoration: underline;
}