.pc-container {
  margin: 1rem 0 0 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  width: min-content;

  border: var(--light) solid 0.1rem;
}

.pc-container:hover {
  background-color: var(--grey);
}

.pc-details {
  padding: .1rem .5rem;
  width: fit-content;
}